.main-header {
  background-color: #eeeeee;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}
.site-navigation {
  list-style: none;
}
.site-navigation a {
  color: #000000;
}
.main-navigation a {
  color: #000000;
}
.main-navigation a:hover{
  color: #fb565a;
}
.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.features-list {
  list-style: none;
}

.features h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}
.features-item p {
  font-size: 16px;
  line-height: 24px;
}

.button {
  font: inherit;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}
.button:hover {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}
.button-2 {
  background-color: #00ca74;
}

.button-2:hover {
  background-color: #00bc6c;
}

.button-3 {
  background-color: #efc84a;
}

.button-3:hover {
  background-color: #eab534;
}
.contacts {
  display: none;
}

.social-list {
  list-style: none;
}
.main-footer {
  color: #000000;
  background-color: #ffffff;
  background-position: 0 0;
  background-repeat: repeat;
}
.footer-bold {
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
  color: black;
}
.footer-sale {
  line-height: 22px;
  color: #444444;
}
.footer-social ul {
  list-style: none;
}
.social-button {
  color: #e1e1e1;
}
.footer-sale,
.footer-friendship {
  text-align: center;
}

.page-title {
  margin-top: 0;
    margin-bottom: 0;
    padding-top: 80px;
    padding-bottom: 115px;
    font-weight: 500;
    font-size: 55px;
    line-height: 1;
    text-align: center;
    color: black;
    background-color: #eeeeee;
}
.filter fieldset {
  border: none;
}
.filter legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: #000000;
}
.filter ul {
  list-style: none;
  line-height: 20px;
  color: #283136;
}
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #000000;

  background-color: #eeeeee;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.catalog-item {
  list-style: none;
}
.catalog-list-window {
  text-align: center;
  width: 360px;
  background-color: #eeeeee;
}

.catalog-list-window p {
  line-height: 18px;
  color: #666666;
}

.catalog-list-window h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: black;
}


/* НАЧАЛО ПОСТРОЕНИЯ СЕТОК */

html,
body {
  min-width: 1440px;
}
.main-header{
  padding-top: 50px;
  background-color: #eeeeee;
}
.container {
  display: block;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
.nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 440px;
}

.main-navigation {
  flex-grow: 1;
  font-weight: 500;
  line-height: 1.9;
  text-transform: uppercase;
}

.main-header-logo {
  margin-right: 200px;
}

.basket{
  margin: 0;
  padding: 0;
  padding-left: 41px;
  position: relative;

}
.basket::before {
  content:"";
  position:absolute;
  top: 7px;
  left: 1px;

  width: 15px;
  height: 15px;

  background-image: url("img/basket-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #a6a6a6;
}
.features {
  margin-bottom: 160px;
}
.features-item {
  width: 300px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.features-list:last-of-type {
  margin-right: 60px;
}

.main-footer {
  display: flex;
}
.footer-social {
  margin-left: 50px
}

.container-flex {
  display: flex;
  justify-content: space-between;
}
.filter {
  width: 260px;
  height: 705px;
  margin-right: 140px;
}
.catalog {
  width: 760px;
  }
.catalog-item {
  margin-bottom: 33px;

}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}
